.header {
    padding: 20px 50px;
    background-color: #EEEEEE;
}

.header_content {
    display: flex;
}

.header_ttl {
    color: #3366ff;
}

.heder_icon {
    width: 60px;
    margin-top: 20px;
    margin-right: 10px;
}