.mypage {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 0 20px;
    padding-bottom: 300px;
}

.mypage_name {
    text-align: center;
    margin-top: 0;
}

.container {
    display: flex;
    
}

.reservation {
    margin: 0 50px;
}

.reservation-ttl {
    width: 200px;
}

.reservation-content {
    background-color: #3366ff;
    color: #fff;
    width: 320px;
    height: 420px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 5px 5px 3px #dcdcdc;
    margin-bottom: 5px;
}

.reservation-content-ttl {
    margin-top: 30px;
    margin-left: 30px;
}

.reservation-message {
    color: red;
    font-size: 30px;
}

.reservation_error {
    color: #ff0000;
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}

.reservation-btn {
    display: flex;
}

.reservation-btn_submit {
    margin-left: 180px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #3366ff;
    border: 2px solid #fff;
    border-radius: 30px;
}

.reservation_table {
    margin: 20px;
}

td {
    padding-bottom: 10px;
    padding-right: 40px;

}

.shop {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 0 20px;
    padding-bottom: 300px;
}

.shop_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.shop_content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #a9a9a9;
    width: 250px;
    height: 270PX;
    margin-right: 20px;
    margin-bottom: 20px;
}

.shop_img {
    width: 250px;
    height: auto;
}

.shop_name {
    margin: 5px 0 0 10px;

}

.shop_tag {
    display: flex;
    font-size: 12px;
}

.shop_area {
    margin-top: 0;
    margin-left: 10px;
}

.shop_genre {
    margin-top: 0;
    margin-left: 5px;
}

.shop_btn {
    display: flex;
}

.shop_detail-btn_submit {
    background-color: #3366ff;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #3366ff;
    padding: 3px 10px;
    margin: 0 40px 10px 10px;
    text-decoration: none;
}

.shop_favorite-btn_submit {
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 50px;
}

.reservation_change {
    margin-left: 10px;
}

.reservation_change_form-group {
    margin-left: 30px;
    margin-bottom: 5px;
}

.reservation_change_btn {
    text-align: center;
}

.reservation_change_submit {

    background-color: blue;
    color: #fff;
    padding: 10px;
    border: solid 1px blue;
    border-radius: 3px;
}

.reservation_change-input-date {
    width: 150px;
}

.reservation_change-input-time {
    width: 150px;
}

.reservation_change-input-number {
    width: 150px;
}