.review {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 0 20px;
    padding-bottom: 200px;
}

.review_back {
    border: 1px solid #EEEEEE;
    background-color: #fff;
    text-decoration: none;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
    margin-left: 40px;
    box-shadow: 5px 5px 3px #a9a9a9;
    border-radius: 5px;
    display: inline-block;
}

.review_content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.review_link {
    text-decoration: none;
    color: #3366ff;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.review_list {
    margin: 10px 40px;
}

.review_table {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 80%;
    margin: 0 auto;
}

.review_td {
    padding: 5px 20px;

}

.review_time {
    text-align: right;
    padding-right: 10px;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.message {
    margin-left: 30px;
    color: red;
}

.review_delete__btn__submit {
    background-color: #fff;
    border: #fff;
    cursor: pointer;
    border-bottom: solid 1px #a9a9a9;
}

@media screen and (max-width: 767px){

.review_list {
    margin: 10px;
}

.review_table {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    margin: 0 auto;
}

.review_link {
    font-size: 15px;
}

.review_content {
    display: block;
    margin: 0 auto;
}
}