.header {
    padding: 20px 50px;
    background-color: #EEEEEE;
}

.header-content_log {
    display: flex;
}

.heder_icon {
    width: 60px;
    margin-top: 20px;
    margin-right: 10px;
}

.header_ttl {
    color: #3366ff;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.search {
    text-align: right;
    justify-content: center;
    background-color: #fff;
    height: 35px;
    margin-top: 35px;
    box-shadow: 5px 5px 3px #a9a9a9;
    border-radius: 3px;
    display: flex;
}
.search_form {
    justify-content: center;
    margin-top: 5px;
    padding-left: 5px;
}

.search_select {
    width: 80px;
    height: 20px;
    border: none;

}

.search_text {
    width: 200px;
    padding: 10px;
    border: none;
}

.search-btn_submit {
    background-color: #fff;
    color: #4c4848;
    border: none;
}

.search_partition {
    color: #cccccc;
}



.shop {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 0 20px;
    padding-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
}

.shop_content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #a9a9a9;
    width: 250px;
    height: 270PX;
    margin-right: 20px;
    margin-bottom: 20px;
}

.shop_img {
    width: 250px;
    height: auto;
}

.shop_name {
    margin: 5px 0 0 10px;

}

.shop_tag {
    display: flex;
    font-size: 12px;
}

.shop_area {
    margin-top: 0;
    margin-left: 10px;
}

.shop_genre {
    margin-top: 0;
    margin-left: 5px;
}

.shop_btn {
    display: flex;
}

.shop_detail-btn_submit {
    background-color: #3366ff;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #3366ff;
    padding: 3px 10px;
    margin: 0 40px 10px 10px;
    text-decoration: none;
}

.shop_favorite-btn_submit {
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 50px;
}

